
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<br />
<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Unable to complete your Transaction</h2>
        <h3 class="text-primary text-center">Please login first</h3>
        <a href="https://localhost:7149/Identity/Account/Login" class="btn btn-primary">Login</a>
    </div>
</div>