
@{
    ViewData["Title"] = "Success";
}

<h1>Success</h1>

<br />
<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Order Placed Successfully</h2>
    </div>
</div>